[Unit]
Description=X11 session
Requires=graphical-session.target
After=graphical-session.target
OnFailure=graphical-session.target

[Install]
WantedBy=graphical-session.target
