[Unit]
Description=Random wallpaper per monitor with swww
Requires=hyprland-session.target
After=hyprland-session.target

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/scripts/swww.sh

[Install]
WantedBy=default.target